<h1><%= @list.name() %></h1>

<% if @list.tasks().any?() %>
  <h3>Here are all the tasks in this list:</h3>

  <ul>
    <% @list.tasks().each() do |task| %>
      <li><%= task.description() %>, <%= task.due_date() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no tasks on this list!</p>
  <% end %>

<h3>Add a taks to <%= @list.name %></h3>

<form action="/tasks" method="post">
  <input id="list_id" type="hidden" name="list_id" value="<%=@list.id%>">

  <label for="description">Description of the task:</label>
  <input type="text" name="description" value="description">

  <label for="due_date">Due date for the task:</label>
  <input type="text" name="due_date" value="due_date">

  <button type="submit">Add task</button>
</form>

<hr>

<div class="container">
  <a href="/"><button class="btn">Home</a>
  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
  <a href="/lists/new">Add New Task</a>
</div>
